<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body style="margin:0; padding:0;">
    <div id="errorimage">
      <img
        src="img/error.png"
        style="height:50%; width:80%; margin:50px 100px 50px 130px;"
      />
    </div>
    <center><h1>{{ErrorText}}</h1></center>

  </body>
</html>