<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/home.css" />
    <title>Home</title>

  </head>
<body>
    {{>header}}
    <div id="container">
        <div id="quote"><h1>HELP</h1>
        <h1 style="color:red;">SAVE LIVES</h1>
     
        <h1>DONATE</h1>
        <h1 style="color:red;">BLOOD</h1></div>
        <div id="image">
            <div id="image_frame">
            <div><img src="img/quote4.jpg"></div>
            <div><img src="img/quote5.jpg"></div>
            <div><img src="img/quote6.jpg"></div>
            <div><img src="img/quote8.jpg"></div>
            <div><img src="img/quote9.jpg"></div>
            <div><img src="img/quote10.jpg"></div>
            <div><img src="img/quote1.jpeg"></div>
            <div><img src="img/quote2.jpg"></div>
            <div><img src="img/quote3.png"></div>
            </div>
        </div>
    </div>
        {{>footer}}
</body>
</html>