body {
    background: url("../img/donorreg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
}

#header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
}

.fa-droplet {
    color: red;
    font-size: 30px;
    animation-name: heart;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#reg_header {
    margin-right: 350px;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}

ul {
    display: flex;
    font-weight: bold;
    list-style-type: none;
}

a {
    color: red;
}

a:hover {
    color: purple;
}

.list {
    margin-right: 15px;
    font-size: 22px;
    color: red;
    cursor: pointer;
}

.list:hover {
    color: purple;
}

@keyframes heart {
    from {
        font-size: 10px;
    }
    to {
        font-size: 30px;
    }
}

#campinfo {
    height: 500px;
    width: 25%;
    box-sizing: border-box;
    padding: 10px 20px 10px 50px;
    align-items: center;
    text-align: center;
}

#date {
    font-size: 22px;
    width: 60%;
    font-weight: bold;
    margin-bottom: 20px;
    border: 3px solid navy;
    margin-left: 50px;
}

#datee,
#timee {
    height: 50px;
    width: 60%;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid navy;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 50px;
}

#datee:hover {
    cursor: pointer;
    background-color: navy;
    color: white;
    border: 3px solid white;
}

#camp {
    height: 50px;
    width: 50%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    border: 3px solid navy;
    margin-left: 50px;
}

#countt {
    height: 100px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: -87px 0px 0px 170px;
}

#count {
    height: 100px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: red;
}

#phonenumber {
    width: 200px;
    margin-right: 0px;
    margin-top: 11px;
}

#verify {
    height: 30px;
    width: 50%;
    background: linear-gradient(to left, purple, gold);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    margin: 11px 0px 0px 0px;
}

#verify:hover {
    background: linear-gradient(to right, purple, gold);
}

#printform {
    height: 42px;
    width: 25%;
    background: linear-gradient(to left, purple, gold);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    border: 2px solid black;
    margin: -60px 0px 0px 55%;
}

#printform:hover {
    background: linear-gradient(to right, purple, gold);
}

#donorreg {
    margin: 20px 0px 20px 150px;
    height: 500px;
    width: 70%;
    color: white;
}

label {
    font-size: 22px;
    margin-right: 50px;
    width: 20%;
}

input {
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
}

#address {
    width: 50%;
    height: 50px;
}

::placeholder {
    font-size: 17px;
}

#print {
    height: 42px;
    width: 25%;
    background: linear-gradient(to left, purple, gold);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    margin-left: 25%;
    cursor: pointer;
    font-weight: bold;
}

#print:hover {
    background: linear-gradient(to right, purple, gold);
}

#refresh {
    height: 32px;
    width: 120px;
    background: linear-gradient(to left, purple, gold);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    color: white;
    display: inline-block;
    border: 2px solid black;
    margin-left: 20px;
}

#refresh:hover {
    background: linear-gradient(to right, purple, gold);
}

.fa-twitter-square,
.fa-youtube,
.fa-facebook,
.fa-instagram-square {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#footer {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    padding: 10px 20px;
}